 <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light" style="background-color: purple; " >
        <div class="display-6 navbar-text" style="color: grey;"><h6>&copy; Copyright 2021. Ulkar Zakaryayeva - 301107604 - COMP229. All Rights Reserved .</h6></div>
    </nav>
  </footer>