<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    
    <h1>Welcome to <strong><%= title %></strong> page.</h1>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
