 <!-- File Name: main_nav.ejs
     Name: Ulkar Zakaryayeva
     Student Number: 301107604
     Date: October 4, 2021                 
     -->
 
 
 <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>